 <div class="login-box">
             <h1 class="introduction">Welcome to Support</h1>
                
                <div class="login-form">
                    <hr>
                    <form class="form-horizantal">
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="signupCtrl.email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Your password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="email" id="password" placeholder="Enter your password" ng-model="signupCtrl.password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="name" placeholder="Enter your name" ng-model="signupCtrl.name" required>
                                </div>
                            </div>
                        </div>
                        <ul class='text-center'>
                        <li>
                        	<div class="form-group">
                        		<div class="btn btn-submit" ng-click="signupCtrl.postSignupDetails()">
                        			sign up
                        		</div>
                        	</div>
                        </li>
                        
                        	
                        </ul>
                    </form>
                </div>
            </div>