<div class="forum-post-content">
                <div class="forum-post-question ">
                    <div class="discussion-question">
                        <div class="character">
                            <img src="img/img_avatar2.png" alt="" class="img-circle character-image">
                        </div>
                        <div class="discussion-byline">
                            posted 5 min ago by ashvin
                        </div>
                        <h1>
                    	why is JWT token not working in angular?
                    	</h1>
                        <div class="marked-down-zone">
                            <p>I tried everything went to Stack overflow i just think its waste of time now i should move forward but this thing is bugging me for last 6 days and i am having sleepless nights due to it am i in love or acting weird lately
                            </p>
                            <p class="pull-right different_status">
                                Closed
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="forum-post-content reply-discussion">
                <ul class="replies">
                    <li>
                        <div class="reply-admin">
                            <span class="pull-left">
                        		<span class="discussion-byline">
                        			posted by <strong>admin</strong> on 5 may
                        		</span>
                            </span>
                            <div class="reply-message">
                                <p align="left">
                                    lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae tellus vitae risus ultricies congue sit amet nec felis. Donec rutrum bibendum hendrerit. Duis aliquam diam felis, id viverra ex auctor commodo. vehicula, pretium felis sit amet, mattis odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit eu odio at lacinia. In vitae eros sed diam auctor consequat.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="reply-user">
                            <span class="pull-right">
                        		<span class="discussion-byline">
                        			posted by <strong>User</strong> on 5 may
                        		</span>
                            </span>
                            <div class="reply-message">
                                <p align="right">
                                    lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae tellus vitae risus ultricies congue sit amet nec felis. Donec rutrum bibendum hendrerit. Duis aliquam diam felis, id viverra ex auctor commodo. vehicula, pretium felis sit amet, mattis odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit eu odio at lacinia. In vitae eros sed diam auctor consequat.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="input">
                    <div class="reply" contenteditable>
                        write your reply here..
                    </div>
                    <br>
                    <div class="submit-reply btn  pull-right button-submit">Submit</div>
                </div>
            </div>
            <div class="not-signin">
                <div class="container">
                    <div class="glyph">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </div>
                    <div class="reason">
                        <p>Users without Authentication are not allowed to post Query</p>
                        <p>Please <a href="" class="not-signin-link">sign in</a> to make query</p>
                    </div>
                </div>
            </div>