html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 you have deleted an query
            p thanks for using support board
            p we hope your experience with us was fruitful
            