html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 you have recieved an query
            p please try to solve it in 7-8 hrs and help your batchmates.
            p query link http://localhost:8000/support/queries/#{params}
            