html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 you have recieved an reply
            p admin has replied on your query please have a look.
            p query link http://localhost:8000/support/queries/#{params}
            