html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 Thanks! for using Our platform To Post Query
            p Hello , Your Query will resolve in 7-8 hours 
            you will be notified with an email after resolution

            p Thanks for choosing our platform
            p keep learning.
            