html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 the #{params} has closed the discussion
            p doubt for #{params} has solved.
          