html
    body(bgcolor="#ededed" style="background-color: #ededed; padding: 20px;")
        div(style="background-color: #ffffff; padding: 20px; border-radius: 4px;")
            h1 Welcome
            p Hello , welcome to My Site. This is just a test email to let you know that we're signed you up.
            p Head over to our site to find out more.
            